@{
    ViewBag.Title = "Mileage and fueling";
}

<h2>Mileage and fueling</h2>

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("My car", "MyRoom", "Home")</li>
    <li class="active">@Html.ActionLink("Mileage and fueling", "Mileage", "Home")</li>
    <li>@Html.ActionLink("Liquids", "Oils", "Home")</li>
    <li>@Html.ActionLink("Errors", "Errors", "Home")</li>
    <li>@Html.ActionLink("Location", "FindVehicle", "Home")</li>
</ul>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 16%;">Date</th>
                <th style="width: 14%;">Mileage (km)</th>
                <th style="width: 14%;">Tank amount</th>
                <th style="width: 14%;">Number of liters</th>
                <th style="width: 10%;">Price</th>
                <th style="width: 18%;">Consumption (l/100 km)</th>
                <th style="width: 14%;">For the last (km)</th>
            </tr>
        </thead>
        <tbody>
            @{int counter = 0;}

            @foreach (var i in ViewBag.Fuelings)
            {
                <tr>
                    <td>@i.Date.ToShortDateString()</td>
                    <td>@i.Mileage</td>
                    <td>@i.TankValue</td>
                    <td>@i.Value</td>
                    <td>@i.Price</td>
                    <td>@ViewBag.FuelSpends[counter]</td>
                    <td>@ViewBag.Mileages[counter]</td>
                    @{counter++;}
                </tr>
            }
        </tbody>
    </table>
</div>

<hr style="margin-top:0px;" />

<div class="container" style="text-align:center; width: 75%">
    <div class="panel panel-default">
        <div class="panel-body">
            <p><b>Calculate the fuel consumption between dates:</b></p>
            <form class="form-inline" method="post" action="@Url.Action("MilBetween", "Home")">
                <div class=" form-group" style="display:inline;">
                    <label for="name" style="display:inline;width:10%;">From:</label>
                    <input type="date" style="display: inline; margin-left: 10px; width: 30%;" class="form-control" name="from"
                           placeholder="Введите пробег" required>
                </div>
                <div class="form-group" style="display:inline;">
                    <label for="name" style="display: inline; margin-left: 10px; width: 10%;">To    :</label>
                    <input type="date" style="display: inline; margin-left: 10px; width: 30%;" class="form-control" name="to"
                           placeholder="Введите пробег" required>
                </div>
                <button type="submit" class="btn btn-primary" style="display: inline; margin-left: 10px; width: 20%;">Show</button>
            </form>
        </div>
    </div>
</div>